* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 24px;
  color: #234d97;
  background-color: #ffffff;
}

nav {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

nav a {
  color: #234d97;
  padding-left: 1.2rem;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: #73b6c6;
}




