* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: #b8a5ec;
  background-color: #ffffff;
}

.h1title {
  font-size: 3.5rem;
}

nav {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  position: right;
  margin: 0 2vw;
}

nav a {
  color: #234d97;
  padding-left: 1.2rem;
  font-weight: bold;
  font-size: 1rem;
}

nav a:hover {
  color: #2ea6e5;
}

.splashimage {
  align-content: center;
}

.invitation-text {
  width: 100%;           
  display: flex;
  text-align: center;  
  justify-content: center;  
  margin: 2vw;
}

.invitation-text .name, .invitation-text .date {
  margin: 0 10px;         
}

footer {
  height: 100px;
  background-color: #ffffff;
  padding-top: 55px;
}

footer a {
  font-family: "Press Start 2P", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #234d97;
  text-decoration: none;
  padding: 4px 0; 
}

footer a:hover {
  color: #2ea6e5;
}

.footer-stuff {
  padding: 0 4vw;

}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
