* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #6941e3;
  background-color: #ffffff;
}

.h1title {
  font-size: 3.5rem;
}

nav {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  overflow: hidden;
  position: right;
  margin: 0 2vw;
}

nav a {
  color: #234d97;
  padding-left: 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  width: 200px;
  padding: 15px 5px;
  border-radius: 5px;
  margin: 10% auto;
  background-color: #2ea6e5;
  text-align: center;
  color: FloralWhite;
}

nav a:hover {
  background-color: #6941e3;
  font-size: 20px;
}

.splashimage {
  align-content: center;
}

.invitation-text {
  width: 100%;           
  display: flex;
  text-align: center;  
  justify-content: center;  
  margin: 2vw;
}

.invitation-text .name, .invitation-text .date {
  margin: 0 10px;         
}

footer {
  height: 100px;
  background-color: #ffffff;
  padding-top: 55px;
}

footer a {
  font-family: "Press Start 2P", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #234d97;
  text-decoration: none;
  padding: 4px 0; 
}

footer a:hover {
  color: #2ea6e5;
}

.footer-stuff {
  padding: 0 4vw;

}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.image1 {
  width: 90vw;
  position: sticky;
  top: 30;
  left: 20vw;
}

.wanderer1 {
  height: 150px;
  width: auto;
  float: left;
}

.image2 {
  width: 90vw;
}

.wanderer2 {
  float: right;
  height: 150px;
  width: auto;
  margin: 1rem; 
}

main {
  position: relative;
  top: 20px;
  width: 100%;
  margin: 0;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.4;
  color: #234d97;
  margin: 2.5rem auto;
  max-width: 1000px;
  padding: 0 1.5rem;
}

.center-page {
  width: 90%;
  margin: 0 auto; 
  text-align: center; 
}

@keyframes scaleUp {
  0% {
    transition: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}
